@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body, html, #__next {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  
  width: 100%;
  height: 100%;
}

/* Fonts */

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

